{% extends 'base.html' %}
{% load form_extras %}
{% block title %}Registro · Eventos Vecinales{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-7 col-lg-6">
    <div class="card glass card-hover">
      <div class="card-body p-4">
        <h4 class="mb-3">Crear cuenta</h4>
        <form method="post" novalidate>
          {% csrf_token %}
          {{ form.non_field_errors }}
          {% for field in form.visible_fields %}
            <div class="mb-3">
              <label class="form-label">{{ field.label }}</label>
              {{ field|add_class:"form-control" }}
              {% if field.help_text %}<div class="form-text">{{ field.help_text }}</div>{% endif %}
              {{ field.errors }}
            </div>
          {% endfor %}
          <button class="btn btn-success w-100">Registrarme</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
